@font-face {
  font-family: 'DashDecentHeavy';
  src: url('fonts/dashdecentheavy.ttf') format('truetype');
  /* Add more font formats and paths if needed (e.g., woff, woff2) */
}

html {
  height: 100%;
  width: 100%;
}

body {
background: rgb(241,182,82);
background: linear-gradient(0deg, rgba(241,182,82,1) 0%, rgba(228,144,59,1) 100%);
}

/* Main 3D text */
.threedtext {
  /* perspective function in transform property */
  transform: perspective(200px) rotateX(0deg) rotateY(6deg) rotateZ(4deg) scale(3);
  /* Adjust the perspective value, rotateY angle, and scale as needed */

  /* Ensure the back faces are visible for a better rendering result */
  backface-visibility: visible;

  /* Define how nested elements are rendered in 3D space */
  transform-style: preserve-3d;

  /* Set position to absolute for manual positioning */
  position: absolute;

  width: fit-content;
  height: fit-content;

  font-family: 'DashDecentHeavy';

  color: #FFFFFF;

  /* Align to top-left */
  top: 0px;
  left: 50px;

  /* Set the transform origin to the top-left corner */
  transform-origin: top left;

  /* Set z-index to ensure the main text is below the shadow */
  z-index: 1;
}