@font-face {
  font-family: 'DashDecentHeavy';
  src: url('fonts/dashdecentheavy.ttf') format('truetype');
  /* Add more font formats and paths if needed (e.g., woff, woff2) */
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: rgb(241, 182, 82);
  background: linear-gradient(0deg, rgb(82, 146, 241) 0%, rgb(59, 208, 228) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Main 3D text */
.threedtext {
  /* perspective function in transform property */
  transform: perspective(200px) rotateX(-0.5deg) rotateY(7deg) rotateZ(5.5deg) scale(3);
  /* Adjust the perspective value, rotateY angle, and scale as needed */

  /* Ensure the back faces are visible for a better rendering result */
  backface-visibility: visible;

  /* Define how nested elements are rendered in 3D space */
  transform-style: preserve-3d;

  /* Set position to absolute for manual positioning */
  position: absolute;

  width: 100%;
  max-width: 800px; /* Adjust as needed */
  height: fit-content;

  font-family: 'DashDecentHeavy';

  color: #FFFFFF;

  /* Center the text horizontally and vertically */
  top: 10%;
  left: 10%;

  /* Set the transform origin to the top-left corner */
  transform-origin: top left;

  /* Set z-index to ensure the main text is below the shadow */
  z-index: 1;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .threedtext {
    font-size: 16px; /* Adjust as needed for smaller screens */
  }
}
